body {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: white;
  background-color: black;
}

.btn {
  height: 70px;
  width: 70px;
  background: white;
  vertical-align: middle;
  font-size: 20px;
}

#turn {
  font-size: 25px;
  font-style: oblique;
}
