body {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: white;
  background-color: black;
}

.btn {
  height: 100px;
  width: 100px;
  background: white;
  vertical-align: middle;
  font-size: 45px;
}

#turn {
  font-size: 30px;
  font-style: oblique;
}
